* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aliceblue;
}
#tupian {
    width: 400px;
    height: 400px;
    background-image: url("../images/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateX(30deg);
}

.g {
    width: 100px;
    height: 2200px;
}